[submodule "lib/nlohmannjson"]
	path = lib/nlohmannjson
	url = https://github.com/ArthurSonzogni/nlohmann_json_cmake_fetchcontent.git
[submodule "lib/asio"]
	path = lib/asio
	url = https://github.com/chriskohlhoff/asio.git
